<!doctype html>
<html>
<head>
    <title>Code Lyoko Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Code Lyoko Fan Site</h1>
        <img src="img/lyoko.png" alt="21 Savage Profile Photo">

        <p>Login to Lyoko or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login to Lyoko</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Become a Lyoko Warrior</a>

    </div>

</div>
</body>
</html>
